<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="panGuConfiguration" type="PanGuConfig.Configurations.PanGuConfiguration, PanGuConfig"/>
  </configSections>
  <panGuConfiguration>
    <dictionaryPath>..\Dict</dictionaryPath>
    <matchOptions>
      <ChineseNameIdentify>true</ChineseNameIdentify>
      <FrequencyFirst>false</FrequencyFirst>
      <MultiDimensionality>false</MultiDimensionality>
      <EnglishMultiDimensionality>true</EnglishMultiDimensionality>
      <FilterStopWords>true</FilterStopWords>
      <IgnoreSpace>true</IgnoreSpace>
      <ForceSingleWord>false</ForceSingleWord>
      <TraditionalChineseEnabled>false</TraditionalChineseEnabled>
      <OutputSimplifiedTraditional>false</OutputSimplifiedTraditional>
      <UnknownWordIdentify>true</UnknownWordIdentify>
      <FilterEnglish>false</FilterEnglish>
      <FilterNumeric>false</FilterNumeric>
      <IgnoreCapital>false</IgnoreCapital>
      <EnglishSegment>false</EnglishSegment>
      <SynonymOutput>false</SynonymOutput>
      <WildcardOutput>false</WildcardOutput>
      <WildcardSegment>false</WildcardSegment>
      <CustomRule>false</CustomRule>
    </matchOptions>
  </panGuConfiguration>
</configuration>