<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="panGuConfiguration" type="PanGu.PanGuConfiguration, PanGu"/>
  </configSections>
  <panGuConfiguration>
    <dictionaryPath>..\DictionaryFiles</dictionaryPath>
    <matchOptions>
      <chineseNameIdentify>true</chineseNameIdentify>
      <frequencyFirst>false</frequencyFirst>
      <multiDimensionality>false</multiDimensionality>
      <englishMultiDimensionality>true</englishMultiDimensionality>
      <filterStopWords>true</filterStopWords>
      <ignoreSpace>true</ignoreSpace>
      <forceSingleWord>false</forceSingleWord>
      <traditionalChineseEnabled>false</traditionalChineseEnabled>
      <outputSimplifiedTraditional>false</outputSimplifiedTraditional>
      <unknownWordIdentify>true</unknownWordIdentify>
      <filterEnglish>false</filterEnglish>
      <filterNumeric>false</filterNumeric>
      <ignoreCapital>false</ignoreCapital>
      <englishSegment>false</englishSegment>
      <synonymOutput>false</synonymOutput>
      <wildcardOutput>false</wildcardOutput>
      <wildcardSegment>false</wildcardSegment>
      <customRule>false</customRule>
    </matchOptions>
    <matchParameters>
      <unknowRank>1</unknowRank>
      <bestRank>5</bestRank>
      <secRank>3</secRank>
      <thirdRank>2</thirdRank>
      <singleRank>1</singleRank>
      <numericRank>1</numericRank>
      <englishRank>5</englishRank>
      <englishLowerRank>3</englishLowerRank>
      <englishStemRank>2</englishStemRank>
      <symbolRank>1</symbolRank>
      <simplifiedTraditionalRank>1</simplifiedTraditionalRank>
      <synonymRank>1</synonymRank>
      <wildcardRank>1</wildcardRank>
      <filterEnglishLength>0</filterEnglishLength>
      <filterNumericLength>0</filterNumericLength>
      <customRuleAssemblyFileName>CustomRuleExample.dll</customRuleAssemblyFileName>
      <customRuleFullClassName>CustomRuleExample.PickupVersion</customRuleFullClassName>
      <redundancy>0</redundancy>
    </matchParameters>
  </panGuConfiguration>
</configuration>